n8n/YouTube English _ 7,10,13,16,19.json
{
  "name": "YouTube English | 7,10,13,16,19",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,10,13,16,19 * * *"
            }
          ]
        }
      },
      "id": "22021a32-c728-4d93-b286-1af8d05b521d",
      "name": "Schedule 5× Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        39456,
        12272
      ]
    },
    {
      "parameters": {},
      "id": "9e6e764a-8678-4d88-a708-c6d419e1f4cd",
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        39456,
        12064
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-lang",
              "name": "lang",
              "value": "en",
              "type": "string"
            },
            {
              "id": "cfg-theme",
              "name": "theme",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-themes-csv",
              "name": "themesCsv",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-duration",
              "name": "duration",
              "value": 60,
              "type": "number"
            },
            {
              "id": "cfg-tier",
              "name": "tier",
              "value": "flux",
              "type": "string"
            },
            {
              "id": "cfg-privacy",
              "name": "youtubePrivacy",
              "value": "public",
              "type": "string"
            },
            {
              "id": "cfg-api",
              "name": "pipelineApiBase",
              "value": "http://host.docker.internal:8765",
              "type": "string"
            },
            {
              "id": "cfg-host",
              "name": "pipelineHostPath",
              "value": "/Users/user/Downloads/n8n-youtube",
              "type": "string"
            },
            {
              "id": "cfg-container",
              "name": "pipelineContainerPath",
              "value": "/home/node/.n8n-files/youtube_videos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b4897da9-7535-4edc-9d42-b1bc5e26f6b1",
      "name": "Configure Job",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        39728,
        12176
      ],
      "notesInFlow": true,
      "notes": "REQUIRED: lang (en or hi).\nSet pipelineApiBase (not /generate). Host n8n: http://127.0.0.1:8765"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst lang = String(item.lang || '').trim().toLowerCase();\n\nif (!lang) {\n  throw new Error('Configure Job: lang is required. Set to \"en\" or \"hi\".');\n}\nif (!['en', 'hi'].includes(lang)) {\n  throw new Error(`Configure Job: invalid lang \"${lang}\" — use \"en\" or \"hi\".`);\n}\n\nlet theme = String(item.theme ?? '').trim().toLowerCase();\nif (theme === 'auto') {\n  theme = '';\n}\n\nconst themesCsv = String(item.themesCsv ?? '').trim();\nif (themesCsv) {\n  const pool = themesCsv.split(',').map((t) => t.trim().toLowerCase()).filter(Boolean);\n  if (pool.length === 0) {\n    throw new Error('Configure Job: themesCsv is set but contains no valid themes.');\n  }\n}\n\nconst duration = Number(item.duration ?? 45);\nif (Number.isNaN(duration) || duration < 10 || duration > 120) {\n  throw new Error('Configure Job: duration must be between 10 and 120 seconds.');\n}\n\nconst tier = String(item.tier || 'flux').trim().toLowerCase();\nif (!['flux', 'wan'].includes(tier)) {\n  throw new Error(`Configure Job: invalid tier \"${tier}\" — use \"flux\" or \"wan\".`);\n}\n\nconst privacy = String(item.youtubePrivacy || 'private').trim().toLowerCase();\nif (!['private', 'unlisted', 'public'].includes(privacy)) {\n  throw new Error(`Configure Job: invalid youtubePrivacy \"${privacy}\".`);\n}\n\nconst pipelineApiBase = String(item.pipelineApiBase || item.pipelineApiUrl || 'http://127.0.0.1:8765')\n  .trim()\n  .replace(/\\/generate\\/?$/, '')\n  .replace(/\\/$/, '');\nconst pipelineHostPath = String(item.pipelineHostPath || '/Users/user/Downloads/n8n-youtube').trim().replace(/\\/$/, '');\nconst pipelineContainerPath = String(item.pipelineContainerPath || '/home/node/.n8n-files/youtube_videos').trim().replace(/\\/$/, '');\n\nreturn [{\n  json: {\n    lang,\n    theme,\n    themesCsv,\n    themeRandom: !theme,\n    duration,\n    tier,\n    youtubePrivacy: privacy,\n    pipelineApiBase,\n    pipelineHostPath,\n    pipelineContainerPath,\n  },\n}];"
      },
      "id": "a7afd8bf-cb06-43bb-abf7-1c5fc6882073",
      "name": "Validate Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        39968,
        12176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'script', lang: $json.lang, theme: $json.theme, themesCsv: $json.themesCsv, duration: $json.duration, tier: $json.tier }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "6357f04f-6581-4e92-89bb-4907781a030e",
      "name": "Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40208,
        12176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Language').item.json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'voice', run_id: $json.run_id }) }}",
        "options": {
          "timeout": 3600000
        }
      },
      "id": "6b17ac57-3b1a-441f-8be6-74fb6529530c",
      "name": "Generate Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40448,
        12176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Language').item.json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'music', run_id: $json.run_id }) }}",
        "options": {
          "timeout": 3600000
        }
      },
      "id": "49407126-c344-4326-8cc3-cbe99d00bd68",
      "name": "Generate Music",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40688,
        12176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Language').item.json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'images', run_id: $json.run_id }) }}",
        "options": {
          "timeout": 3600000
        }
      },
      "id": "b57f1835-33f4-4a80-9ac7-8e9906ded469",
      "name": "Generate Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40928,
        12176
      ],
      "notesInFlow": true,
      "notes": "Skipped automatically when tier=wan"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Language').item.json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'clips', run_id: $json.run_id }) }}",
        "options": {
          "timeout": 3600000
        }
      },
      "id": "40ae4819-e7d9-48d8-86bf-11e5acbaa779",
      "name": "Generate Clips",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        41168,
        12176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Language').item.json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'video', run_id: $json.run_id }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "581d0361-d49d-458b-8892-18a5a210e449",
      "name": "Assemble Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        41408,
        12176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Language').item.json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'subtitles', run_id: $json.run_id }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "66a1ca47-a710-4d71-92e0-00b8e8484524",
      "name": "Add Subtitles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        41648,
        12176
      ],
      "notesInFlow": true,
      "notes": "Skipped automatically for Hindi (hi)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Language').item.json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'audio_mix', run_id: $json.run_id }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "549ee133-a575-4241-93f7-00c9450cb927",
      "name": "Mix Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        41888,
        12176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Language').item.json.pipelineApiBase + '/step' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stage: 'final', run_id: $json.run_id }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "43d63d62-9acb-4631-a9cd-0cae788a5dce",
      "name": "Final Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        42128,
        12176
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst result = item.final_video ? item : (item.body || item);\n\nif (result.error) {\n  throw new Error(result.error);\n}\nif (!result.final_video && !result.video_url) {\n  throw new Error('Pipeline response missing final_video: ' + JSON.stringify(result).slice(0, 2000));\n}\n\nfunction loadConfig() {\n  for (const name of ['Validate Language', 'Configure Job']) {\n    try {\n      const row = $(name).first();\n      if (row && row.json) return row.json;\n    } catch (_) { /* node not in this execution */ }\n  }\n  return {};\n}\n\nfunction stripTrailingSlash(s) {\n  return s.endsWith('/') ? s.slice(0, -1) : s;\n}\n\nconst config = loadConfig();\nconst hostRoot = stripTrailingSlash(String(config.pipelineHostPath || '/Users/user/Downloads/n8n-youtube'));\nconst outputHostRoot = hostRoot + '/output';\nconst containerRoot = stripTrailingSlash(String(config.pipelineContainerPath || '/home/node/.n8n-files/youtube_videos'));\n\nfunction toContainerPath(p) {\n  const path = String(p || '');\n  if (path.startsWith(containerRoot + '/') || path === containerRoot) return path;\n  if (path.startsWith(outputHostRoot + '/')) return containerRoot + path.slice(outputHostRoot.length);\n  if (path.startsWith(hostRoot + '/output/')) return containerRoot + path.slice((hostRoot + '/output').length);\n  if (path.startsWith(hostRoot + '/')) return '/pipeline' + path.slice(hostRoot.length);\n  return path;\n}\n\nconst NL = String.fromCharCode(10);\nconst script = result.script || {};\nconst lang = script.language || config.lang || 'en';\nconst theme = script.content_type || script.theme || result.theme || config.theme || 'story';\nconst isHindi = lang === 'hi' || lang === 'hindi';\nconst langTag = isHindi ? 'hindi' : 'english';\n\n// Hashtags: prefer LLM hashtags, else derive. Strip '#', dedupe, always include shorts.\nlet hashtags = Array.isArray(script.hashtags) && script.hashtags.length\n  ? script.hashtags.slice()\n  : ['shorts', theme, langTag, 'kids', 'story'];\nhashtags = hashtags\n  .map((h) => String(h).replace(/[\\u0900-\\u097F]+/g, '').split('#').join('').trim().split(' ').filter(Boolean).join(''))\n  .filter(Boolean)\n  .map((h) => h.toLowerCase());\nif (!hashtags.includes('shorts')) hashtags.push('shorts');\nhashtags = Array.from(new Set(hashtags)).slice(0, 6);\nconst hashtagLine = hashtags.slice(0, 5).map((h) => '#' + h).join(' ');\n\nfunction buildUploadTitle(base, allTags, maxChars, hashtagCount) {\n  let titleBase = String(base || '').trim();\n  if (titleBase.includes('#')) return titleBase.slice(0, maxChars);\n  const titleTags = allTags.slice(0, hashtagCount);\n  if (!titleTags.length) return titleBase.slice(0, maxChars);\n  const suffix = ' ' + titleTags.map((h) => '#' + h).join(' ');\n  const maxBase = maxChars - suffix.length;\n  if (maxBase <= 10) return titleBase.slice(0, maxChars);\n  if (titleBase.length > maxBase) titleBase = titleBase.slice(0, maxBase - 1).trim() + '…';\n  return (titleBase + suffix).slice(0, maxChars);\n}\n\n// Title: LLM SEO title (often already includes hashtags) or base title + first LLM hashtags.\nconst titleHashtagCount = 2;\nconst titleMaxChars = 100;\nlet title = buildUploadTitle(\n  script.youtube_title || script.title || ('Kids ' + theme + ' - ' + langTag),\n  hashtags,\n  titleMaxChars,\n  titleHashtagCount,\n);\nif (title.length > titleMaxChars) title = title.slice(0, titleMaxChars - 1).trim() + '…';\n\n// Description: prefer LLM SEO description, else narration. Append hashtags. Cap ~4900 chars.\nconst narration = script.narration || script.script || '';\nconst descBody = String(script.youtube_description || narration || '').trim();\nlet description = (descBody + NL + NL + hashtagLine).trim();\nif (description.length > 4900) description = description.slice(0, 4900);\n\n// Tags: prefer LLM SEO tags, else derive. Sanitize, dedupe, obey YouTube ~500-char total budget.\nlet tagList = Array.isArray(script.youtube_tags) && script.youtube_tags.length\n  ? script.youtube_tags.slice()\n  : [theme, 'kids', 'story', 'shorts', 'hindi', 'cartoon'];\ntagList = tagList\n  .map((t) => String(t).replace(/[\\u0900-\\u097F]+/g, '').split('#').join('').split(',').join('').trim().split(' ').filter(Boolean).join(' '))\n  .filter(Boolean)\n  .map((t) => t.toLowerCase());\ntagList = Array.from(new Set(tagList));\nconst cappedTags = [];\nlet tagChars = 0;\nfor (const t of tagList) {\n  const add = (cappedTags.length ? 1 : 0) + t.length;\n  if (tagChars + add > 480) break;\n  cappedTags.push(t);\n  tagChars += add;\n  if (cappedTags.length >= 15) break;\n}\nconst tags = cappedTags.join(',');\n\nconst apiBase = config.pipelineApiBase || 'http://host.docker.internal:8765';\nconst videoUrl = result.video_url || (stripTrailingSlash(apiBase) + '/video/' + result.run_id);\n\nreturn [{\n  json: {\n    final_video: toContainerPath(result.final_video),\n    video_url: videoUrl,\n    output_dir: toContainerPath(result.output_dir),\n    run_id: result.run_id,\n    title,\n    description,\n    tags,\n    hashtags: hashtagLine,\n    hookText: String(script.hook_text || ''),\n    youtubeComment: String(script.youtube_comment || ''),\n    titleStyle: String(script.title_style || ''),\n    apiBase: stripTrailingSlash(apiBase),\n    titleVariants: Array.isArray(script.title_variants) ? script.title_variants : [],\n    youtubePrivacy: config.youtubePrivacy || 'public',\n    selfDeclaredMadeForKids: false,\n    lang,\n    theme,\n  },\n}];\n"
      },
      "id": "8011e7c8-bf28-43a1-aac1-257341a7ecd6",
      "name": "Parse Pipeline Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        42368,
        12176
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 600000
        }
      },
      "id": "d2ff8ce9-3f1b-45e9-bb3a-98dd6322048b",
      "name": "Fetch Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        42608,
        12176
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Parse Pipeline Result').item.json.title }}",
        "regionCode": "AE",
        "categoryId": "24",
        "options": {
          "description": "={{ $('Parse Pipeline Result').item.json.description }}",
          "notifySubscribers": true,
          "privacyStatus": "={{ $('Parse Pipeline Result').item.json.youtubePrivacy }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Parse Pipeline Result').item.json.tags }}"
        }
      },
      "id": "c3f9ce67-89b4-4269-aaab-8865ae533a97",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        42848,
        12176
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "LM5QCmwOeJLruJaV",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const upload = $('Upload to YouTube').first().json;\nconst parsed = $('Parse Pipeline Result').first().json;\n\nfunction pickVideoId(data) {\n  if (!data || typeof data !== 'object') return '';\n  const candidates = [\n    data.id,\n    data.videoId,\n    data.video_id,\n    data?.snippet?.resourceId?.videoId,\n    data?.body?.id,\n    data?.uploadId,\n  ];\n  for (const c of candidates) {\n    const v = String(c ?? '').trim();\n    if (v && v !== 'null' && v !== 'undefined') return v;\n  }\n  return '';\n}\n\nconst videoId = pickVideoId(upload);\nif (!videoId) {\n  throw new Error(\n    'YouTube upload did not return a video ID. Open Upload to YouTube output and check the JSON. Keys: '\n      + Object.keys(upload || {}).join(', ')\n      + ' Preview: ' + JSON.stringify(upload || {}).slice(0, 800),\n  );\n}\n\nreturn [{\n  json: {\n    status: 'uploaded',\n    youtubeVideoId: videoId,\n    youtubeUrl: 'https://www.youtube.com/watch?v=' + videoId,\n    localVideo: parsed.final_video,\n    runId: parsed.run_id,\n  },\n}];"
      },
      "id": "e171cd6d-f2f4-471e-bd67-5f08cc65b0ca",
      "name": "Upload Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        43088,
        12176
      ],
      "notes": "Extracts video ID from Upload to YouTube output. Fails fast if upload did not return an id."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Pipeline Result').item.json.apiBase }}/youtube/uploaded",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ run_id: $('Upload Complete').first().json.runId, video_id: $('Upload Complete').first().json.youtubeVideoId, title: $('Parse Pipeline Result').item.json.title }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Record Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3860,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 90,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Wait Before Comment",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "notes": "90s delay so YouTube can finish processing before the engagement comment is posted.",
      "position": [
        3740,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/commentThreads?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ snippet: { videoId: $('Upload Complete').first().json.youtubeVideoId, topLevelComment: { snippet: { textOriginal: ($('Parse Pipeline Result').item.json.youtubeComment || 'Which part did you like the most? Tell us in the comments!') } } } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Post Engagement Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        320
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Pipeline Result').item.json.apiBase }}/youtube/comment-posted",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_id: $('Upload Complete').first().json.youtubeVideoId }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Mark Comment Posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [
        4100,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule 5× Daily": {
      "main": [
        [
          {
            "node": "Configure Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test": {
      "main": [
        [
          {
            "node": "Configure Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Job": {
      "main": [
        [
          {
            "node": "Validate Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Language": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Generate Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice": {
      "main": [
        [
          {
            "node": "Generate Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Music": {
      "main": [
        [
          {
            "node": "Generate Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Images": {
      "main": [
        [
          {
            "node": "Generate Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Clips": {
      "main": [
        [
          {
            "node": "Assemble Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video": {
      "main": [
        [
          {
            "node": "Add Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Subtitles": {
      "main": [
        [
          {
            "node": "Mix Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mix Audio": {
      "main": [
        [
          {
            "node": "Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Video": {
      "main": [
        [
          {
            "node": "Parse Pipeline Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pipeline Result": {
      "main": [
        [
          {
            "node": "Fetch Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Video": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Upload Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Complete": {
      "main": [
        [
          {
            "node": "Record Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait Before Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Comment": {
      "main": [
        [
          {
            "node": "Post Engagement Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Engagement Comment": {
      "main": [
        [
          {
            "node": "Mark Comment Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f7251c7a-c171-48b8-a284-d6027fee2d84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97d7d72d970549b3444644222e55071d7e4d1da402333c03e56e65ba4e6752ae"
  },
  "nodeGroups": [],
  "id": "aZiWQMXEh6FOBNpz",
  "tags": []
}
